<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Mutant - Lista dos desafios</title>
  <link rel="shortcut icon" href="https://mutantbr.com/wp-content/uploads/2018/06/favicon-mutant.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,700'>
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<ul class="challange-list">
    <li onclick="javascript:location.href='/websites'">
        <span>1. Os websites de todos os usuários</span>
        <div class="delete">
            <svg viewBox="0 0 22 22">
                <circle cx="11" cy="11" r="10"></circle>
            </svg>
        </div>
    </li>
    <li onclick="javascript:location.href='/ordem'">
        <span>2. O Nome, email e a empresa em que trabalha (em ordem alfabética).</span>
        <div class="delete">
            <svg viewBox="0 0 22 22">
                <circle cx="11" cy="11" r="10"></circle>
            </svg>
        </div>
    </li>
    <li onclick="javascript:location.href='/suite'">
        <span>3. Mostrar todos os usuários que no endereço contem a palavra ```suite```</span>
        <div class="delete">
            <svg viewBox="0 0 22 22">
                <circle cx="11" cy="11" r="10"></circle>
            </svg>
        </div>
    </li>
    <li onclick="javascript:location.href='http://localhost:5601/app/apm#/services/mutant-app/'">
        <span>4. Salvar logs de todas interações no elasticsearch</span>
        <div class="delete">
            <svg viewBox="0 0 22 22">
                <circle cx="11" cy="11" r="10"></circle>
            </svg>
        </div>
    </li>
</ul>

<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
<script  src="js/script.js"></script>

</body>
</html>
